@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: #525558;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

/* Estilização do componente Barra de Rolagem */
body::-webkit-scrollbar {
	/* width of the entire scrollbar */
	width: 12px;
}

body::-webkit-scrollbar-track {
	/* Cor da área que possui a Barra de Rolagem */
	background: #6633cc;
}

/* Estilização da Barra de Rolagem*/
body::-webkit-scrollbar-thumb {
	/* Cor da Barra de Rolagem*/
	background-color: #6633cc;
	/* Border Radius da Barra de Rolagem */
	border-radius: 20px;
	/* Borda da Barra de Rolagem */
	border: 3px solid #8357e5;
}

.swal2-custom-confirm {
	@apply bg-[#7250b0] transition-all ease-in duration-150 text-white px-4 py-2 rounded font-semibold shadow hover:bg-[#b3b3b3];
}

.swal2-custom-cancel {
	@apply bg-[#9b111e] transition-all ease-in duration-150 text-white px-4 py-2 rounded border shadow hover:bg-gray-100;
}
