.embla {
	overflow: hidden;
}

.embla__container {
	display: flex;
}

.embla__slide {
	position: relative;
	min-width: 100%;
}

.thumbnails {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	gap: 10px; /* Adiciona um espaçamento entre as miniaturas */
}

.thumbnail {
	border: 2px solid transparent;
	padding: 5px;
	cursor: pointer;
	transition: border 0.2s ease;
	width: 100px; /* Tamanho ajustado da miniatura */
	height: 100px; /* Tamanho ajustado da miniatura */
}

.thumbnail img {
	width: 100%; /* Garante que a imagem ocupe toda a miniatura */
	height: 100%; /* Garante que a imagem ocupe toda a miniatura */
	object-fit: cover; /* Ajusta a imagem dentro do espaço sem deformar */
	border-radius: 5px; /* Borda arredondada para a imagem */
}

.thumbnail.is-selected {
	border-color: #3e1d88; /* Cor da borda quando a miniatura estiver selecionada */
}
